.retainBatch{
	font-size:10px;
	float:right;
	display:block;
	text-align: center;
	padding:5px;
	color:white;
	position: relative;
}
.retainBatch-1{
	background: url(../../Images/batch-1.png) 50% 50% no-repeat;
	width:10px;
}
.retainBatch-2{
	background: url(../../Images/batch-2.png) 50% 50% no-repeat;
	width:15px;
}
.retainBatch-3{
	background: url(../../Images/batch-3.png) 50% 50% no-repeat;
	width:20px;
}
.retainBatch-4{
	background: url(../../Images/batch-4.png) 50% 50% no-repeat;
	width:25px;
}