.groupMember, .groupGoldMember
{
	position:relative;
	top:0px;
	left: 0px;
	border-bottom: 1px solid #babdb6;
	border-right: 1px solid #babdb6;
	background: #fff;
	float: left;
	width: 350px;
	height:22px;
	overflow: hidden;
	display:block;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 5px;
	white-space: nowrap;
	vertical-align:top;
	padding-left:25px;
}
.groupMember
{
	background: #fff url(../../Icons/22x22/mimetypes/user.png) 0px 0px no-repeat;
}
.groupGoldMember
{
	background: #fff url(../../Icons/22x22/mimetypes/administrator.png) 0px 0px no-repeat;
}






#editorianid{
	width:100%;
	display:block;
	padding:0px;
	margin:0px;
	overflow:auto;
	background: white;
}
.activeAddButton
{
	background: #d3d7cf;
	color:white;
	border-right: 1px solid #d3d7cf;
}
.inactiveAddButton
{
	background: #888a85;
	color:black;
}
.activeAddButton,.inactiveAddButton
{
	width:48px;
	height:48px;
	display:block;
	border: 1px solid #babdb6;
}
#addBox{
	width:100%;
}
#addBox td td{
	background: white;
}
#addBox img
{
		margin:8px;
}
#addBox .addWrapper
{
	width:48px;
}
.borderedtable{
	margin:0px;
}