#mainView, #documentform, #BambusApplication{
	height:100%;
	margin:0px;
}
.aThird.framing{
	float:left;
}

.aThird{
	width:32%;
}
.framing{
	height:100%;
	overflow:auto;	
}
.fullWidth{
	margin-top:98px;
}
#folderViewFrame, #fileViewFrame
{
	border-right: 1px solid #555753;
}
.waitingForData
{
	background: #ffffff url(../../Images/processing.gif) 50% 50% no-repeat;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.fileItem, .folderItem{
	display:block;
	width:100%;
	overflow:hidden;
}
.folderItem a{
	background: #ffffff url(../../Images/inactiveListItem.png) 50% 100% repeat-x;
	border-bottom: 1px solid #babdb6;
	height: 24px;
	display:block;
}
.folderItem a.active{
	background: #ffffff url(../../Images/activeListItem.png) 50% 100% repeat-x;
}
.folderItem a span{
	background: url(../../Icons/16x16/places/folder.png) 2px 50% no-repeat;
	padding: 5px;
	padding-left: 22px;
	font-size: 12px;
	display:block;
}


.fileItem a{
	background: #ffffff url(../../Images/inactiveListItem.png) 50% 100% repeat-x;
	border-bottom: 1px solid #babdb6;
	height: 24px;
	display:block;
}
.fileItem a.active{
	background: #ffffff url(../../Images/activeListItem.png) 50% 100% repeat-x;
}
.fileItem a span{
	background: url(../../Icons/16x16/mimetypes/file.png) 2px 50% no-repeat;
	padding: 5px;
	padding-left: 22px;
	font-size: 12px;
	display:block;
}
.fileInfoIconFrame{
	display:block;
	border: 1px solid #babdb6;
	padding:4px;
	width:128px;
	height:128px;
	margin: 0px auto;
}
.fileInfoIcon{
	width:128px;
	height:128px;
	display:block;
}
.fileInfoBox{
	padding:10px;
}
#infoView{
	text-align: center;
}