#dialogues{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: url(../System/ClientData/Images/dialogue-bg.png);
	z-index:10000;
}
#dialogues .dialogue div
{
	overflow:auto;
	display:block;
}
#dialogues .dialogue
{
	position:absolute;
	top:50%;
	background: #eeeeec;
	left:50%;
	width:350px;
	display:block;
	margin-left:-175px;
	margin-top:-80px;
	border:1px solid #9fbc4a;
}
#dialogues .dialogue input
{
	border: 1px solid #2e3436;
	margin:5px;
}
#dialogues .dialogue input[type=text]
{
	width:338px;
}

#dialogues .dialogue h2
{
	display:block;
	border-bottom: 1px solid #9fbc4a;
	margin:0px;
	margin-bottom: 3px;
	font-weight: bold;
	background: #9fbc4a url(../System/ClientData/Images/header_background.png) 0% 0%;
	color:#2e3436;
	font-size:14px;
	text-align: center;
}
#dialogues .dialogue a
{
	float:right;
	display:block;
	border-width:0px;
	color: #2e3436;
	background: #d3d7cf;
	border:1px solid #888a85;
	padding:3px;
	min-width:50px;
	text-align:center;
	font-size:12px;
	margin:5px;
	margin-left:0px;
}
