#View_UIElement_TagPermissions table{
    border-width:0px;
    width:250px;
    font-size: 0.9em;
    text-align:left;
    empty-cells: show;
    overflow:visible;
}
#View_UIElement_TagPermissions table td, #View_UIElement_TagPermissions table th{
    border-width:0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}
#View_UIElement_TagPermissions table, #View_UIElement_TagPermissions table td, #View_UIElement_TagPermissions table th{
    border-style: solid;
    border-spacing: 0px;
    border-color: #9fbc4a;
}
#View_UIElement_TagPermissions table th
{
    background: #9fbc4a url(../System/ClientData/Images/header_background.png) 0% 0%;
    padding:2px;
    border-top-width: 1px;
    color:white;
}

#View_UIElement_TagPermissions td.cell_x1
{
	width: 22px;
}
#View_UIElement_TagPermissions td.cell_x2
{
	width:228px;
}
#View_UIElement_TagPermissions label
{
	display: block;
}
#View_UIElement_TagPermissions .View_UIElement_TagPermissions_controls a{
	border: 1px solid #babdb6;
	background: url(../System/ClientData/Images/header_background.png);
	width:100px;
	display:block;
	float:left;
	padding:5px;
	margin:3px;
	text-align:center;
	font-size: 10px;
}