body.login #BambusHeader{display: none;}
body.login 
{
	background: #fff ;
	color: #2e3436;
}
body.login #BambusHeader
{
	height:48px;
}
body.login .textinput
{
	width:200px;
	border: 1px solid #d3d7cf;
	display:block;
}
body.login .submitinput{
	padding:3px;
	padding-right:10px;
	padding-left:10px;
	background: #fff;
	border: 1px solid #d3d7cf;
}
body.login select{
	border: 1px solid #d3d7cf;
	background: #fff url(../../Icons/22x22/language.png) 0 0 no-repeat;
	height:22px;
	padding-left:22px;
	width:120px;
}
body.login .submitinput:hover{
	border: 1px solid #eeeeec;
}
body.login .text{
	text-align:left;
	display:block;
	margin-top:20px;
}