.borderedtable{
	border-width:0px;
    border-left-width:1px;
    border-bottom-width:1px;
}

.borderedtable td, .borderedtable th{
	border-width:0px;
    border-top-width:1px;
    border-right-width:1px;
    text-align:left;
}
.borderedtable td input[type=text]{
	border:0px;
	display:block;
	width:98%;
    margin:2px;
   	background:transparent;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    padding:2px;
    text-align:left;
}
.borderedtable td textarea, .borderedtable td select{
	border-width:1px;
	display:block;
    padding:2px;
    width:98%;
    margin:2px;
    text-align:left;
}
.borderedtable th{
    font-weight: bold;
    font-size:0.9em;
    white-space: nowrap;
    vertical-align:top;
}
.borderedtable th small{
    font-size:0.8em;
    font-weight:normal;
}
.borderedtable th[scope=row]{
	font-size:12px;
	width: 150px;
	font-weight:normal;
	white-space: normal;
}
.borderedtable th.left_th{
	color:#000;
	width: 150px;
	font-weight:normal;
	white-space: normal;
	background: #eeeeec;
}

.borderedtable .inactive 
{
    opacity:0.25;
}
