/********Colors********/
#BambusHeader{
 	/*background: #000 url(../../Images/iconbarbg.png) 50% 0%;*/
 	background: url(../../Images/iconbarbg_selected.png) 0% 0%;
}

div.CommandBar{
	border-style: solid;
	border-color: #000000;
	
}
table.CommandBarPanel{
	border-style: solid;
	border-color: #2e3436;
	background: #eeeeec;
}
th.CommandBarPanelStart{
	border-style: dotted;
	border-color: #2e3436;
}
a.CommandBarPanelItem{
	
}
a.CommandBarPanelItem:hover img{
	border-color: #eeeeec;
	background: #fff;
	border-style: solid;
}
/********Layout********/
div.CommandBar{
	padding:0px;
	padding-bottom:1px;
	margin:0px;
	border-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
}
table.CommandBarPanel, table.CommandBarPanel *{
	padding:0px;
	margin:0px;
}
table.CommandBarPanel td{
	padding-right:1px;
	padding-left:1px;
}
table.CommandBarPanel{
	padding:0px;
	padding-left:2px;
	margin:0px;
	margin-right:3px;
	border-width: 1px;
	border-left-width: 1px;
	float:left;
}
th.CommandBarPanelStart{
	border-width: 0px;
	border-left-width: 1px;
}
a.CommandBarPanelItem,
a.CommandBarPanelItem img{
	padding:1px;
	margin:1px;
	border-width: 0px;
	display:block;
}

a.CommandBarPanelItem:hover img{
	margin: 0px;
	border-width: 1px;
}
br.CommandBarTerminator{
	clear:both;	
}

/**************/
#WSidebar-head,
#WSidebar-head select
{
	border-style: solid;
	border-color: #555753;
	background-color: #888a85;
	color: #fff;
}
/*
Main Headline
*/
.borderedtable th,
.borderedtable th th,
#WSidebar-body strong
{
	border-style: solid;
	border-color: #4e9a06;
	background: #4e9a06 url(../../Images/iconbarbg.png) 50% 50%;
	color: #fff;
}

/*
Sub Headline
*/
.borderedtable th[scope=row]
{
	border-color: #4e9a06;
	border-style: solid;
	background-color: #d3d7cf;
	color: #2e3436;
}

/*
Command frame
*/
#OFD_Footer,
#OFD_Header
{
	color: #fff;
	background-color:#555753;
	border-style: solid;
	border-color: #2e3436;
}

/*
Command item
*/
.OFD_ItemIconBox,
#BCMSNavigator a,
.OFD_Item,
.OFD_Item a,.OFD_Item a:link,.OFD_Item a:visited,
.editortoolbar a img, 
.editortoolbar a:link img, 
.editortoolbar a:visited img
{
	border-color: #555753;
	border-style: none;
	color: #2e3436;
}

/*
Command item hover
*/
.OFD_Item a:hover,
.editortoolbar a:hover img,
#BCMSNavigator a:hover

{
	border-color: #555753;
	border-style: solid;
	background-color: #8ae234;
	color:#2e3436;
}
/*
Content frame
*/
.borderedtable,
.borderedtable td, 
.borderedtable td td, 
#WSidebar,
#BCMSNavigator
{
	border-color: #4e9a06;
	border-style: solid;
	background-color: #eeeeec;
	color: #2e3436;
}
#BCMSNavigator,
#WSidebar{
	border-color: #888a85;
}
/*
Content element
*/

#WSearch input,
#WSearch textarea,
#WSidebar-body table,
.borderedtable td input[type=text],
.borderedtable td textarea, 
.borderedtable td select,
#editorwrapper textarea,
#OFD_Window
{
	border-color: #4e9a06;
	border-style: solid;
	color: #2e3436;
	background-color: #fff;
}
/*****************/
.flip_1 td, .flip_1{
    background: #fff;
}
.flip_2 td, .flip_2{
    background: #ffffe7;
}
.flip_1 th{
    background: #eeeeec;
}
.flip_2 th{
    background: #f3f3e6;
}