/********Colors********/
#BambusHeader{
 	background: url(../../Images/header_background.png) 0% 0%;
}

div.CommandBar{
	border-style: solid;
	border-color: #000000;
	
}
table.CommandBarPanel{
	border-style: solid;
	border-color: #d3d7cf;
	background: #eeeeec;
}
th.CommandBarPanelStart{
	border-style: dotted;
	border-color: #d3d7cf;
}
a.CommandBarPanelItem{
	
}
a.CommandBarPanelItem:hover img{
	border-color: #eeeeec;
	background: #fff;
	border-style: solid;
}
/********Layout********/
div.CommandBar{
	padding:0px;
	padding-bottom:1px;
	margin:0px;
	border-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}
table.CommandBarPanel, table.CommandBarPanel *{
	padding:0px;
	margin:0px;
}
table.CommandBarPanel td{
	padding-right:1px;
	padding-left:1px;
}
table.CommandBarPanel{
	padding:0px;
	padding-left:2px;
	margin:0px;
	margin-right:3px;
	border-width: 1px;
	border-left-width: 1px;
	float:left;
}
th.CommandBarPanelStart{
	border-width: 0px;
	border-left-width: 1px;
}
a.CommandBarPanelItem,
a.CommandBarPanelItem img{
	padding:1px;
	margin:1px;
	border-width: 0px;
	display:block;
}

a.CommandBarPanelItem:hover img{
	margin: 0px;
	border-width: 1px;
}
br.CommandBarTerminator{
	clear:both;	
}

/**************/
/*
Main Headline
*/
.borderedtable th,
.borderedtable th th,
#WSidebar-body strong
{
	border-style: solid;
	border-color: #4e9a06;
	background: #4e9a06 url(../../Images/header_background.png) 0% 0%;
	color: #fff;
}

/*
Sub Headline
*/
.borderedtable th[scope=row]
{
	border-color: #4e9a06;
	border-style: solid;
	background-color: #d3d7cf;
	color: #2e3436;
}

/*
Content frame
*/
.borderedtable,
.borderedtable td, 
.borderedtable td td, 
#WSidebar
{
	border-color: #4e9a06;
	border-style: solid;
	background-color: #eeeeec;
	color: #2e3436;
}
#WSidebar{
	border-color: #888a85;
}
/*
Content element
*/

#WSearch input,
#WSearch textarea,
#WSidebar-body table,
.borderedtable td input[type=text],
.borderedtable td textarea, 
.borderedtable td select,
#editorwrapper textarea
{
	border-color: #4e9a06;
	border-style: solid;
	color: #2e3436;
	background-color: #fff;
}
/*****************/
.flip_1 td, .flip_1{
    background: #fff;
}
.flip_2 td, .flip_2{
    background: #ffffe7;
}
.flip_1 th{
    background: #eeeeec;
}
.flip_2 th{
    background: #f3f3e6;
}