/************************************************ 
* Bambus CMS 
* Created: 12.06.2006 
* License: GNU GPL Version 2 or later (http://www.gnu.org/copyleft/gpl.html) 
* Copyright: TuTech Innovation GmbH 
* Description: Standard CSS for the CMS 
************************************************/
/*TODO: clean up */

#BambusContentArea
{
	position:absolute;
	top:0px;
	left:0px;
    padding:0px;
    width:100%;
    height:100%;
    margin:0px;
    overflow:auto;
    display:block;
}
#BambusApplication
{
    padding:0px;
    margin:0px;
    margin-left:10px;
    margin-right:10px;
    margin-top:100px;
    display:block;
}
.side-scroll-body{
	padding-top: 94px;
	padding-bottom: 12px;
}
#BambusHeader
{
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    width:100%;
    z-index:100;
    height:93px;
    overflow:hidden;
}

#BambusLogo{
	margin:2px;
	margin-left: 8px;
}
#BCMSSiteName{
	font-size: 14px;
	font-weight:bold;
	vertical-align:middle;
	padding:2px;
	color:white;
	height:47px;
	width:100px;
	overflow:hidden;
	display:block;
}
#Logout
{
	position:absolute;
	right:8px;
	top:4px;
	border:0px;
	z-index:1001;
}
.hidden{
	display:none;
}
#objectInspectorActiveFullBox{
	margin-right: 250px;
}
#editorwrapper textarea{
	border-width: 1px;
}

/*GUI CLASS STUFF*/
.toolbutton
{
    border: 1px solid #555;
    background: #dbdce5;
    width:20px;
    height:20px;
    font-size: 14px;
    text-align:center;
    float:left;
    position:relative;
    top:0px;
    left:0px;
    margin:2px;
    overflow:hidden;
}
.clear
{
    clear:both;
    display:block;
    height:0px;
}
.right
{
	float:right;
	position:relative;
	right:0px;
	top:0px;
}
.left
{
	float:left;
	position:relative;
	left:0px;
	top:0px;
}
.downloadIFrame
{
	width:0px;
	height:0px;
	margin:0px;
	padding:0px;
	visibility:hidden;
	position:absolute;
	top:0px;
	right:0px;
	border:0px;
}
/*#######NOT IE COMPATIBLE######*/
#searchFieldBox
{
 	padding-left:5px;
 	padding-right:5px;
 	color:white;
 	font-size:12px;
 	z-index:900;
 	vertical-align:middle;
	position: absolute;
	top:92px;
	right:0px;
	float:right;
}
#textsearchField
{
	border:1px solid #babdb6;
	padding:1px;
	padding-left: 20px;
	padding-right:4px;
	margin:1px;
	height:18px;
	background: white url(../../Icons/16x16/actions/search.png) 2px 50% no-repeat;
	-moz-border-radius:9px;
}
#objectInformation
{
    margin-bottom:2px;
}
#file_rename
{
    font-size: 16px;
    font-weight:normal;
    color: #555;
    border:0px;
    width:300px;
    border-bottom: 1px dashed #555;
}

html{
    height:100%;
}
body
{
    height:100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 0.9em;
    font-family:"Helvetica", "Arial", "Sans-Serif";
    background: #fff;
}
#linenr{
	float:right;
}
a:link
{
    color: black;
    text-decoration:none;
}
a:visited
{
    color: black;
    text-decoration:none;
}
form
{
    display:inline;
}
p
{
    margin:0px;
    padding:2px;
    padding-top:0px;
    font-size:0.9em;
}
img
{
    border:0px;
}

/****Div****/
.fullinput{
    width: 100%;
    margin:0px;
    padding:0px;
    border:0px;
    background:transparent;
    border-bottom: 1px dashed #babdb6;
}
.full{
    width: 100%;
}
.hide{
    visibility:hidden;
    display:none;
}
.show{
    display:block;
    visibility:visible;
}

/******************************* Move to Application CSS *******************************/
.td50{
    width:50%;
}
.td50{
    width:50%;
}
.td75{
    width:75%;
}
.td20{
    width:20%;
}
.td90{
    width:90%;
}
.td25{
    width:25%;
}
.td10{
    width:10%;
}
.tdx180{
    width:180px;
}
.tdx120{
    width:120px;
}
.tdx140{
    width:140px;
}
.tdx100{
    width:100px;
}
.tdicon{
    width: 18px;
}
.tdx50{
    width: 50px;
}
.td10{
    width:10%;
}
.td45{
    width:45%;
}
#documentform .submitinput{
    display:none;
}
