#OFD_Definition{
	display:none;
	height:0px;
	
}
/************************************
* Window
************************************/
#OFD_Window{
    position: absolute;
    top: 93px;
    left: 0px;
    height:400px;
    width:600px;
    z-index:300;
    padding:5px;
    border-width: 0px;
}
/************************************
* Header
************************************/
#OFD_Header{
	display:block;
	border-width:0px;
	border-bottom-width: 1px ;
	border-top-width: 1px ;
	width:100%;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
#OFD_IconAndTitle{
	
}

#OFD_IconAndTitle img{
	float:left;
	margin:4px;
}

#OFD_IconAndTitle h2{
	padding-top:8px;
	color: white;
}


#OFD_Search{
	position:absolute;
	right:10px;
	top:4px;
	border:1px solid #555753;
 	font-size:12px;
	display:block;
	background: white;
	-moz-border-radius:7px;
	height:20px;
}	
#OFD_SearchInput{
	border:0px;
	padding:1px;
	padding-left: 20px;
	padding-right:2px;
	margin:0px;
	height:18px;
	background: transparent url(../../Icons/16x16/actions/search.png) 2px 50% no-repeat;
	-moz-border-radius:7px;
}

#OFD_Closer{
	position:absolute;
	right:4px;
	top:4px;
	float:right;
}
/************************************
* Group box
************************************/

#OFD_GroupBox{
	width:150px;
	margin-top:35px;
	float:left;

}
#OFD_GroupBox a{
	display:block;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	border: 1px solid #888a85;
	border-top:0px solid #2e3436;
	border-left:0px solid #2e3436;
	background: #eeeeec url(../../Icons/22x22/mimetypes/group.png) 2px 50% no-repeat;;
}

#OFD_GroupBox a.active{
	background-color: #8ae234;
}

/************************************
* Body
************************************/

#OFD_Body{
	overflow:auto;
	display:block;
	position:absolute;
	right:0px;
	top:41px;
	padding-top:5px;
}
.OFD_CategoryTitle{
	border-bottom: 1px solid #2e3436;
	display:block;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:5px;
	clear:both;
}
.OFD_Item{
	width:300px;
	display:block;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	height:40px;
	font-weight:normal;
	border-width: 1px;
}
.OFD_ItemIconBox{
	width:40px;
	border-width:0px;
	border-right-width: 1px;
	height:40px;
	float:left;
}
.OFD_ItemInfoBox img{
	float:left;
	margin:2px;
}
.OFD_ItemInfoBox{
	height:40px;
	width: 255px;
	padding-left:5px;
	display:block;
	overflow:auto;
}
.OFD_ItemInfoBox b{
	display:block;
	font-weight:normal;
	font-size:12px;
}
.OFD_ItemInfoBox i{
	display:block;
}
.OFD_Item a:hover{
	border-width: 0px;
}
/************************************
* Footer
************************************/
#OFD_Footer{
	display:block;
	border-width:0px;
	border-top-width: 1px;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:20px;
}

#OFD_Infobox{
	float:left;
	color: #2e3436;
	margin:1px;
	margin-top:2px;
	margin-right:4px;
	visibility:hidden;
}

#OFD_Statusbox{
	float:right;
	height:20px;
	color: #2e3436;
	display:block;
	vertical-align:top;
	visibility:hidden;
}
#OFD_StatusMessage{
	margin-top:2px;
	float:left;
}
#OFD_Footer img{
	border:0px;
	margin:1px;
	margin-top:2px;
	margin-left:4px;
}