@CHARSET "UTF-8";

.BCMSPath{
	display:block;
	height:48px;
	float:left;
	color:white;
	padding-left:15px;
	padding-right:5px;
	padding-left:5px;
}
h2
{
    font-size: 20px;
    font-weight:normal;
    color: #555753;
    margin:0px;
	padding-top:2px;
	padding-bottom:2px;
    display:block;
}
h2 img
{
	float:left;
	padding:2px;
	margin:2px;
}
h3
{
    font-size: 14px;
    color: #555753;
    display:block;
    padding-top:16px;
    padding-bottom:1px;
    margin:0px;
    margin-left:5px;
}
h4
{
    font-size: 12px;
    color: #555753;
    display:block;
    padding-top:3px;
    padding-bottom:2px;
    margin:0px;
    margin-left:2px;
}
.borderedtable{
	border-width:0px;
    border-left-width:1px;
    border-bottom-width:1px;
}

.borderedtable td, .borderedtable th{
	border-width:0px;
    border-top-width:1px;
    border-right-width:1px;
    text-align:left;
}
.borderedtable td input[type=text]{
	border:0px;
	display:block;
	width:98%;
    margin:2px;
   	background:transparent;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    padding:2px;
    text-align:left;
}
.borderedtable td textarea, .borderedtable td select{
	border-width:1px;
	display:block;
    padding:2px;
    width:98%;
    margin:2px;
    text-align:left;
}
.borderedtable th{
    font-weight: bold;
    font-size:0.9em;
    white-space: nowrap;
    vertical-align:top;
}
.borderedtable th small{
    font-size:0.8em;
    font-weight:normal;
}
.borderedtable th[scope=row]{
	font-size:12px;
	width: 150px;
	font-weight:normal;
	white-space: normal;
}
.borderedtable th.left_th{
	color:#000;
	width: 150px;
	font-weight:normal;
	white-space: normal;
	background: #eeeeec;
}

.borderedtable .inactive 
{
    opacity:0.25;
}
#stats{
	display:none;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-35px;
	padding:5px;
	font-size:10px;
	width:70px;
	z-index:100001;
	background:url(../../Images/iconbarbg_selected.png) 50% 50%;
	border:1px solid #2e3436;
	border-top-width:0px;
	color:white;
}