#BambusHeader{display: none;}
body
{
	background: #fff ;
	color: #2e3436;
}
#BambusHeader
{
	height:48px;
}
.textinput
{
	width:200px;
	border: 1px solid #d3d7cf;
	display:block;
}
.submitinput{
	padding:3px;
	padding-right:10px;
	padding-left:10px;
	background: #fff;
	border: 1px solid #d3d7cf;
}
select{
	border: 1px solid #d3d7cf;
	background: #fff url(../../Icons/22x22/language.png) 0 0 no-repeat;
	height:22px;
	padding-left:22px;
	width:120px;
}
.submitinput:hover{
	border: 1px solid #eeeeec;
}
.text{
	text-align:left;
	display:block;
	margin-top:20px;
}