@CHARSET "UTF-8";
#WApplications{
	border-top: 1px solid #eeeeec;
	z-index:500000;
	display:block;
	
	/*background: url(../../Images/iconbarbg_selected.png) 50% 50%;*/
}
#WApplications table, #WApplications tr, #WApplications td
{
height:50px;
}
#WApplications a:link span,
#WApplications a:visited span
{
	display:none;
}
#WApplications a:hover span.application-description
{
	position:absolute;
	text-align:left;
	top:57px;
	height:34px;
	mergin-left:50px;
    border:1px solid #f0f9d7;   
    border-right:1px solid #9fbc4a;   
    border-left:1px solid #9fbc4a;   
    display:block;
    padding:2px;
    padding-left:6px;
    padding-right:6px;
	font-size: 12px;
	color: #000;
}
.application-description
{
	background: #f0f9d7;
}

#WApplications a.active img
{
	width: 48px;
	height: 48px;
}
#WApplications a.active 
{
	background:  url(../../Images/header_app_shadow.png) 50% 100% no-repeat;
	width: 56px;
	height:54px;
	display: block;
}

#WApplications td{
	width:56px;
	text-align:center;
	vertical-align: middle;
}
#WApplications table, #WApplications tr
{
	vertical-align: middle;
}
#WApplications table{
	padding-left:10px;
	background: url(../../Images/boxfish.png) 10px 50% no-repeat;
}
