@CHARSET "UTF-8";
#WApplications{
	z-index:500000;
	display:block;
}
#WApplications table, #WApplications tr, #WApplications td
{
height:50px;
}
#WApplications a:link span,
#WApplications a:visited span
{
	display:none;
}

#WApplications a:hover span.application-description
{
	position:absolute;
	text-align:left;
	top:10px;
	height:34px;
	margin-left:58px;
    border:1px solid #f0f9d7;   
    border:1px solid #9fbc4a;   
    display:block;
    padding:2px;
    padding-left:6px;
    padding-right:6px;
	font-size: 12px;
	color: #000;
}
.application-description
{
	background: #f0f9d7;
}
#WApplications a img 
{
	width:32px;
	height:32px;
}
#WApplications a.active img
{
	width:48px;
	height:48px;
		
}
#WApplications a:hover img
{
	border:1px solid #9fbc4a;
	padding:3px;
	background: #fff;
}
#WApplications a.active img
{
	border-width: 0px;
	padding:0px;
	background: none;
}
#WApplications a.active 
{
	background: #f9fcee ;
    border:1px solid #9fbc4a;
    border-bottom-width:0px;
    padding-top:1px;   
	width: 56px;
	height:53px;
	display: block;
}

#WApplications td{
	width:56px;
	text-align:center;
	vertical-align: middle;
}
#WApplications table, #WApplications tr
{
	vertical-align: top;
}
#WApplications table{
	padding-left:10px;
}
