#WColors{
	padding:5px;
}
#WColors-area div{
	padding:3px;
	border:1px solid black;
	margin-bottom:5px;
}
.WColors-light{
	color:#fff;
	border-color: black;
}
.WColors-dark{
	color:#000;
	border-color: black;
}