#WContentLookupFilter  {
	background:#fff url(../../Icons/16x16/actions/search.png) 1px 50% no-repeat;
	font-size:12px;
}
#WCLSearchBox{
}
#WCLSearchBox input{
	display: block;
	width:180px;
}

.unpublished{
	color: #babdb6;
	font-style: italic;
}
.published{
	color: #4e9a06;
}
.publicationScheduled{
	color:#729fcf;
	font-style: italic;
}

