#WDialog_container{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: url(../../Images/dialogue-bg.png);
	z-index:10000;
}
#WDialog_container .WDialog div
{
	background: #eeeeec;
	overflow:auto;
	display:block;
}
#WDialog_container .WDialog
{
	position:absolute;
	top:50%;
	background: #eeeeec;
	left:50%;
	width:350px;
	display:block;
	margin-left:-175px;
	margin-top:-80px;
	border:1px solid #4e9a06;
}
#WDialog_container .WDialog input
{
	border: 1px solid #4e9a06;
}
#WDialog_container .WDialog input
{
	width:338px;
}

#WDialog_container .WDialog h2
{
	display:block;
	border-bottom: 1px solid #4e9a06;
	margin:0px;
	margin-bottom: 3px;
	font-weight: bold;
	background: #4e9a06 url(../../Images/iconbarbg.png) 50% 50%;
	color:#000;
	font-size:14px;
	text-align: center;
}
#WDialog_container .WDialog a
{
	float:right;
	display:block;
	color: #000;
	background: url(../../Images/header_background.jpg) 0% 0%;
   	border:1px solid #4e9a06;
	padding:4px;
	min-width:50px;
	text-align:center;
	font-size:12px;
	margin:5px;
	margin-left:0px;
}
#WDialog_container .WDialog_labeled label
{
	width:80px;
	float:left;
	padding-top:4px;
}

#WDialog_container, 
#WDialog_container .WDialog, 
#WDialog_container .WDialog_labeled
{
	overflow:hidden;
}

#WDialog_container .WDialog_labeled input,
#WDialog_container .WDialog_labeled select
{
	width:250px;
}
.WDialog_section div
{
	margin:4px;
}