#WSidebar{
	border-width:0px;
	border-left-width:1px;
	position:absolute;
	right:0px;
	top:0px;
	height:100%;
	display: block;
	width:250px;
	float:right;
	z-index:5;
	overflow: auto;
}
#WSidebar-head{
	position:absolute;
	z-index:500;
	right:0px;
	top:96px;
	padding: 0px;
	background: #babdb6;
	border: 1px solid #888a85;
	border-top-width:0px;
	display:block;
	width: 250px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top: 1px solid #9fbc4a;
}
#WSidebar-select{
	border-spacing: 0px;
	padding:0px;
	margin:0px;
	border:0px;
}
#WSidebar-select a{
	display:block;
	padding:2px;
	background: #babdb6;
	border-bottom: 1px solid #888a85;
}
#WSidebar-select a.selectedWidget{
	background: #eeeeec;
	border-bottom: 1px solid #eeeeec;
}

#WSidebar-select td{
	text-align: center;
	padding:0px;
	margin:0px;
	border:0px;
	width:42px;
	height:24px;
	border-right: 1px solid #888a85;
}

#WSidebar-head select{
	display:block;
	font-size:14px;
	display:block;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
	margin:0px;
	font-weight:bold;
	border-width: 0px;
	background: #9fbc4a;
}
#WSidebar-body{
	margin-top:40px;
}
#WSidebar-body dt{
	border-width:0px;
	border-top-width:1px;
	border-bottom-width:1px;
	border-style: solid;
	border-color: #4e9a06;
	background: #4e9a06 url(../../Images/header_background.png) 0% 0%;
	color: #fff;
	font-weight:bold;
}
#WSidebar-body dd{
	margin-left:10px;
	margin-right:10px;
}
#WSidebar-body dt label{
	padding:1px;
	display: block;
}
#WSidebar-body dd input[type=text],
#WSidebar-body dd select,
#WSidebar-body dd textarea,
#WSidebar-body dd dl
{
	display:block;
	width:100%;
	border:1px solid #555753;
	margin: 5px 0px 5px 0px;
	background: white;
}
#WSidebar-body dd .alt{
	background: #f4fed3;
}
#WSidebar-body dd .small-padding{
	padding:2px;
}
#WSidebar-body dd textarea{
	height: 100px;
}
#WSidebar-body dd dl{
	border-top-width:0px; 
	border-color:#9fbc4a;
}
#WSidebar-body dd dt{
	border-color:#9fbc4a;
	background: none;
	color: #2e3436;
	background:#eff9cc;
}

