@CHARSET "UTF-8";
.WSwitchButton
{
	height:24px;
	border: 1px solid #000;
	margin:10px;
	float:left;
	font-size: 9px;
}

.WSB_button
{
	width:48px;
	overflow:hidden;
	height:16px;
	padding-top:8px;
	float:left;
	text-align: center;
}

.WSB_Sprited a div{
	width:16px;
	height:16px;
	float:left;
	margin-left:6px;
}
.WSB_Sprited .WSB_button{
	width:28px;
	padding-top:4px;
	height:20px;
}
.WSB_middle
{
	background: url(../../Images/WSwitchButtonSprite.png) -8px 24px;
	border-right: 1px solid #888a85;
}
.WSB_middle.WSB_active
{
	background: url(../../Images/WSwitchButtonSprite.png) -8px 0px;
}

.WSB_left
{
	padding-left:5px;
	background: url(../../Images/WSwitchButtonSprite.png) 0% 24px;
	border-right: 1px solid #888a85;
}
.WSB_left.WSB_active
{
	background: url(../../Images/WSwitchButtonSprite.png) 0% 0px;
}

.WSB_right
{
	padding-right:5px;
	background: url(../../Images/WSwitchButtonSprite.png) 100% 24px;
}
.WSB_right.WSB_active
{
	background: url(../../Images/WSwitchButtonSprite.png) 100% 0px;
}

