.CommandBarPanel
{
	float:left;
	margin-left:10px;
	background: #eeeeec;
	border:1px solid #babdb6;	
	border-right-width: 0px;
	margin-top:3px;
}
.CommandBarPanel span 
{
	background: #eeeeec;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ddd),
		color-stop(0.5, #eeeeec)
	);
	background: -moz-linear-gradient(
		center bottom,
		#ddd 0%,
		#eeeeec 50%
	);
	border-right:1px solid #babdb6;	
	width: 30px;
	height:28px;
	float:left;
	display: block;
}
.CommandBarPanel span:hover
{
	background: #eeeeec;
}

.CommandBarPanel img{
	padding:3px 4px 3px 4px;
	
}
.CommandBarPanel span:first-child{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 2px;
}
.CommandBarPanel span:last-child{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-right: 2px;
}
.CommandBarPanel{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}