#dialog-opencontent{
	display: block;
	position: absolute;
	top: 10px;
	left: 68px;
	right: 10px;
	bottom: 10px;
	border: 1px solid #8F5902;
	box-shadow: 1px 2px 4px #8F5902;
	
	background: rgb(233,185,110);
	background: -moz-linear-gradient(top, rgba(233,185,110,1) 0%, rgba(193,125,17,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,185,110,1)), color-stop(100%,rgba(193,125,17,1)));
	background: -webkit-linear-gradient(top, rgba(233,185,110,1) 0%,rgba(193,125,17,1) 100%);
	background: -o-linear-gradient(top, rgba(233,185,110,1) 0%,rgba(193,125,17,1) 100%);
	background: -ms-linear-gradient(top, rgba(233,185,110,1) 0%,rgba(193,125,17,1) 100%);
	background: linear-gradient(top, rgba(233,185,110,1) 0%,rgba(193,125,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9b96e', endColorstr='#c17d11',GradientType=0 );
}
#dialog-opencontent-header{
	position:absolute;
	top:0px;
	right:0px;
	height:37px;
	width:100%;
	border-bottom: 1px solid #8F5902;
	background: #a76b03;
}
#dialog-opencontent-sidebar{
	position:absolute;
	top:39px;
	right:0px;
	width:250px;
	display:none;
}
#dialog-opencontent-body{
	position: absolute;
	top:38px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow: auto;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.open-item{
	width:298px;
	height:78px;
	float:left;
	margin:5px;
	overflow: hidden;
	border:1px solid #fff;
	border-bottom-color: #eeeeec;
	background: white url(../System/ClientData/Icons/tango/large/apps/utilities-editor-wysiwyg.png) 4px 50% no-repeat;
	cursor: pointer;
	position:absolute;
	left: 0px;
	top: 0px;
	-webkit-transition: all 0.1s linear;
}
.open-item label:first-line {
	font-size: 14px;
	line-height: 19px;
}
.open-item label{
	font-size: 12px;
	line-height: 14px;
	height:47px;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 13px;
	left: 56px;
	width: 238px;
}
.open-item small{
	padding:0px;
	overflow: hidden;
	line-height: 9px;
	font-size: 9px;
	display: block;
	color: #BABDB6;
	text-align: right;
	white-space: nowrap;
	position: absolute;
	top: 3px;
	right: 3px;
}
.open-item.selected{
	border: 1px solid #8F5902;
	background-color: #FFFAD6;
	color: #573600;
	box-shadow: 0px 0px 7px #fce94f;
}
input.instant-open{
	background: #c8f0a2;
}
.open-item.instant-open{
	background: #c8f0a2 !important;
	border-color: #aede3c;
}
#dialog-opencontent-searchbox{
	position: absolute;
	top:8px;
	right:7px;
	background: #fff;
	border: 1px solid #555753;
	padding:0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#dialog-opencontent-search{
	background: none;
	border: none;
	width: 175px;
}
#dialog-opencontent.loading #dialog-opencontent-indicator{
	position: absolute;
	top:5px;
	left: 5px;
	width:	22px;
	height: 22px;
	background: url(../System/ClientData/Images/loading.gif) 0px 0px no-repeat;
}
#dialog-opencontent-wrapper{
	position: absolute;
	left: 5px;
	top:5px;
}