#View_UIElement_Applications{
	z-index:500000;
	display:block;
}
#View_UIElement_Applications table, #View_UIElement_Applications tbody, #View_UIElement_Applications tr, #View_UIElement_Applications td, #View_UIElement_Applications th
{
height:50px;
border-spacing: 0px;
}
#View_UIElement_Applications th span
{
	background: #f0f9d7;
	height:58px !important;
	display:block;
	overflow: hidden;
	width:1px;
	margin-top:-1px;
}
#View_UIElement_Applications table, #View_UIElement_Applications tbody, #View_UIElement_Applications tr
{
	margin:0px;
	padding:0px;
}
#View_UIElement_Applications a:link span.application-info,
#View_UIElement_Applications a:visited span.application-info
{
	display:none;
}
#View_UIElement_Applications .application-description{
	display:none;
}
#View_UIElement_Applications .application-name{
	display:block;
	background: #2e3436;
	border:1px solid #555753;
	color:white;
	padding:1px 4px;
	width:auto;
	position:absolute;
	min-width:48px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	opacity:0.8;
	white-space:nowrap;
}
#View_UIElement_Applications a:hover
{
	background: #eef7af url(../System/ClientData/Images/app_bg.png) 50% -2px no-repeat;
}
#View_UIElement_Applications a:hover span.application-info
{
	position:relative;
	text-align:center;
	top:2px;
	left:0px;
	margin-left:0px;
	display:block;
	padding:2px;
	padding-left:0px;
	padding-right:0px;
	font-size: 11px;
	color: #000;
}
#View_UIElement_Applications a.active:hover span.application-info
{
	top:-6px;
}
#View_UIElement_Applications a.active:hover span.application-info
{
	margin-left:-1px;
}
#View_UIElement_Applications a img
{
	margin-top:8px;
	width:32px;
	height:32px;
}
#View_UIElement_Applications a.active img
{
	margin-top:0px;
	width:48px;
	height:48px;

}
#View_UIElement_Applications a.active img
{
	border-width: 0px;
	padding:0px;
	background: none;
}
#View_UIElement_Applications a.active
{
	background: #fafcd5 url(../System/ClientData/Images/app_sel_bg.png) 50% 100% no-repeat;
    border:1px solid #fafcd5;
    border-bottom-width:0px;
    padding-top:1px;
	width: 56px;
	height:55px;
	display: block;
}
#View_UIElement_Applications a
{
    padding-top:1px;
	width: 56px;
	height:55px;
	display: block;
	background: url(../System/ClientData/Images/app_bg.png) 50% -2px no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#View_UIElement_Applications td{
	width:56px;
	text-align:center;
	vertical-align: middle;
}
#View_UIElement_Applications table, #View_UIElement_Applications tr
{
	vertical-align: top;
}
#View_UIElement_Applications table{
	padding-left:0px;
	width:100%;
}
#View_UIElement_Applications th{
	width:1px !important;
}
