.View_UIElement_Table{
    width:100%;
    font-size: 0.9em;
    text-align:left;
    empty-cells: show;
}
.View_UIElement_Table td, 
.View_UIElement_Table th{
	padding: 10px;
}
.View_UIElement_Table, 
.View_UIElement_Table td, 
.View_UIElement_Table th{
    border-style: solid;
    border-width:0px;
    border-spacing: 0px;
}
.View_UIElement_Table th[scope=row]
{
	font-weight: normal;
	color: #555;
	width: 15%;
	text-shadow: 1px 1px 2px #AAA;
	text-align: right;
}
.View_UIElement_Table tr.alt_a th[scope=row],
.View_UIElement_Table tr.alt_a td
{
    background: rgba(255, 255, 255, 0.8);;
}
.View_UIElement_Table tr
{
	vertical-align: top;
}
