#WApplications{
	z-index:500000;
	display:block;
}
#WApplications table, #WApplications tbody, #WApplications tr, #WApplications td, #WApplications th
{
height:50px;
border-spacing: 0px;
}
#WApplications th span
{
	background: #f0f9d7;
	height:58px !important;
	display:block;
	overflow: hidden;
	width:1px;
	margin-top:-1px;
	border-right: 1px solid #9fbc4a;
	border-left: 1px solid #9fbc4a;
}
#WApplications table, #WApplications tbody, #WApplications tr
{
margin:0px;
padding:0px;
}
#WApplications a:link span.application-info,
#WApplications a:visited span.application-info
{
	display:none;
}
#WApplications .application-name{
	display:block;
	font-weight: bold;
}
#WApplications a:hover
{
	background: #9fbc4a;
}
#WApplications a:hover span.application-info
{
	position:relative;
	text-align:left;
	top:-20px;
	left:68px;
	width:250px;
	margin-left:0px;
    border:1px solid #9fbc4a;
    display:block;
    padding:2px;
    padding-left:6px;
    padding-right:6px;
	font-size: 12px;
	color: #2e3436;
}
#WApplications a.active:hover span.application-info
{
	margin-left:-1px;
}
.application-info
{
	background: #f0f9d7;
}
#WApplications a img
{
	margin-top:8px;
	width:32px;
	height:32px;
}
#WApplications a.active img
{
	margin-top:0px;
	width:48px;
	height:48px;

}
#WApplications a:hover img
{
	/*border:1px solid #9fbc4a;
	padding:3px;
	background: #fff;*/
}
#WApplications a.active img
{
	border-width: 0px;
	padding:0px;
	background: none;
}
#WApplications a.active
{
	background: #f9fcee ;
    border:1px solid #9fbc4a;
    border-bottom-width:0px;
    padding-top:1px;
	width: 56px;
	height:55px;
	display: block;
}
#WApplications a
{
    padding-top:1px;
	width: 56px;
	height:55px;
	display: block;
}

#WApplications td{
	width:56px;
	text-align:center;
	vertical-align: middle;
}
#WApplications table, #WApplications tr
{
	vertical-align: top;
}
#WApplications table{
	padding-left:0px;
}
