#View_UIElement_Dialog_container{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: url(../System/ClientData/Images/dialogue-bg.png);
	z-index:10000;
}
#View_UIElement_Dialog_container .View_UIElement_Dialog div
{
	background: #eeeeec;
	overflow:auto;
	display:block;
}
#View_UIElement_Dialog_container .View_UIElement_Dialog
{
	position:absolute;
	top:50%;
	background: #eeeeec;
	left:50%;
	width:350px;
	display:block;
	margin-left:-175px;
	margin-top:-80px;
	border:1px solid #9fbc4a;
}
#View_UIElement_Dialog_container .View_UIElement_Dialog input
{
	border: 1px solid #4e9a06;
}
#View_UIElement_Dialog_container .View_UIElement_Dialog input[type=text],
#View_UIElement_Dialog_container .View_UIElement_Dialog input[type=password]
{
	width:338px;
}

#View_UIElement_Dialog_container .View_UIElement_Dialog h2
{
	display:block;
	border-bottom: 1px solid #9fbc4a;
	margin:0px;
	margin-bottom: 3px;
	font-weight: bold;
	background: #9fbc4a url(../System/ClientData/Images/header_background.png) 0% 0%;
	color:#000;
	font-size:14px;
	text-align: center;
}
#View_UIElement_Dialog_container .View_UIElement_Dialog a
{
	float:right;
	display:block;
	color: #000;
	background: url(../System/ClientData/Images/header_background.png) 0% 0%;
   	border:1px solid #9fbc4a;
	padding:4px;
	min-width:50px;
	text-align:center;
	font-size:12px;
	margin:5px;
	margin-left:0px;
}
#View_UIElement_Dialog_container .View_UIElement_Dialog_labeled label
{
	width:80px;
	float:left;
	padding-top:4px;

}

#View_UIElement_Dialog_container, 
#View_UIElement_Dialog_container .View_UIElement_Dialog, 
#View_UIElement_Dialog_container .View_UIElement_Dialog_labeled
{
	overflow:hidden;
	padding-bottom:4px;
	border-bottom: 1px solid #d3d7cf;
}

#View_UIElement_Dialog_container .View_UIElement_Dialog_labeled input[type=text],
#View_UIElement_Dialog_container .View_UIElement_Dialog_labeled input[type=password],
#View_UIElement_Dialog_container .View_UIElement_Dialog_labeled select
{
	width:250px;
}
.View_UIElement_Dialog_section div
{
	margin:4px;
}