.View_UIElement_FlowLayout{
    display:block;
    overflow:auto;
    padding:5px;
}
.View_UIElement_FlowLayoutEnd{
    clear:both;
}
.View_UIElement_FlowLayoutItem{
    display:block;
    margin:5px;
    float:left;
    overflow:hidden;
}
.View_UIElement_FlowLayoutFile,
.View_UIElement_FlowLayoutImage{
	width:128px;
    height:128px;
    text-align:center;
}
.View_UIElement_FlowLayoutImage img{
    display:block;
    width:96px;
    height:96px;
    margin-left:16px;
    margin-right:16px;
}

.View_UIElement_FlowLayoutFile img, .View_UIElement_FlowLayoutImage img.mime-icon{
    display:block;
    width:48px;
    height:48px;
    margin-left:40px;
    margin-right:40px;
    margin-top:10px;
    margin-bottom:10px;
}
.View_UIElement_FlowLayoutImage img.mime-icon
{
	margin-top:24px;
	margin-bottom:24px;
}