@CHARSET "UTF-8";
#WOpenFileDialog{
	width:100%;
	height:400px;
	background: #fff;
	z-index: 5000;
	position:absolute;
	left:0px;
	top:94px;
	color: #2e3436;
}
#WOpenFileDialog-closer{
	display:block;
	width:48px;
	height:36px;
	float:left;
	background:  url("../../../../ClientData/Icons/tango/medium/actions/close-open-file-dialog.png") 50% 50% no-repeat;
}
#WOpenFileDialog-header{
	width:85%;
	height:45px;
	border-bottom: 1px solid #d3d7cf;
	background: #f9fcee;
	position:absolute;
	left:0px;
	top:0px;
}

#WOpenFileDialog-sidebar{
	width:15%;
	border-left: 1px solid #d3d7cf;
	height:100%;
	background: #f9fcee;
	position: absolute;
	right: 0px;
	top: 0px;
}

#WOpenFileDialog-filecontainer{
	background: #fff;
	width:84%;
	height:100%;
	overflow: auto;
}

#WOpenFileDialog label{
	display:block;
	margin:0px;
	margin-left: 15px;
	margin-right: 15px;
}

#WOpenFileDialog h2{
	color: #555753;
	display:block;
	height:24px;
	margin:10px;
	background: none;
	float:right;
}

#WOpenFileDialog-TitleSearchContainer{
	border: 1px solid black;
	background: #fff url("../../../../ClientData/Icons/16x16/actions/search-gray.png") 1px 50% no-repeat;
	-moz-border-radius: 5px;
	margin-left:15px;
	margin-right:15px;
}

#WOpenFileDialog-TitleSearch{
	border-width: 0px;
	margin-left:20px;
	padding:2px;
	width:80%;
}
#WOpenFileDialog-ItemWrapper{
	margin:5px;
	margin-top:55px;
	padding-bottom: 10px;
}
.WOFD_item h4{
	margin:2px;
	margin-left:0px;
	margin-bottom:5px;
	font-weight: normal;
	font-size: 1.1em;
	color: #2e3436;
}
.WOFD_item div{
	margin:2px;
	margin-left:0px;
	font-weight: normal;
	font-size: 0.9em;
	color: #555753;
}

.Sprite_UpDown_1
{
	background: url("../../../../ClientData/Icons/sprites/UpDown_16.png") 0px 0px no-repeat;
}

.Sprite_UpDown_2
{
	background: url("../../../../ClientData/Icons/sprites/UpDown_16.png") -16px 0px no-repeat;
}

.Sprite_DetailIconList_1
{
	background: url("../../../../ClientData/Icons/sprites/DetailIconList_16.png") 0px 0px no-repeat;
}

.Sprite_DetailIconList_2
{
	background: url("../../../../ClientData/Icons/sprites/DetailIconList_16.png") -16px 0px no-repeat;
}

.Sprite_DetailIconList_3
{
	background: url("../../../../ClientData/Icons/sprites/DetailIconList_16.png") -32px 0px no-repeat;
}



#WOpenFileDialog-filecontainer .WOFD_item{
	display:block;
	margin-bottom:10px;
	margin-left:10px;
}
#WOpenFileDialog-sidebarSpacer{
	display: block;
	height: 45px;
}
#WOpenFileDialog-SidebarPreviewFrame
{
	width:178px;
	height:178px;
	border:1px solid #d3d7cf;
	display:block;
	float:right;
	margin:15px;
	background: white;
}
#WOpenFileDialog-SidebarPreview{
	width:178px;
	height:178px;
}
#WOpenFileDialog-SidebarPreview._no_preview{
	display:none;
}

/***
detail view
****/
#WOpenFileDialog-filecontainer.WOFD_detail_view .WOFD_item{
	display:block;
	height:64px;
}
#WOpenFileDialog-filecontainer.WOFD_detail_view .WOFD_item img.extra-small{
	display: none;
}
#WOpenFileDialog-filecontainer.WOFD_detail_view .WOFD_item img.large{
	float:left;
	margin-right:5px;
}
#WOpenFileDialog-filecontainer.WOFD_detail_view .WOFD_item{
	display:block;
	border-bottom: 1px solid #eeeeec;
}
/***
icon view
****/
#WOpenFileDialog-filecontainer.WOFD_icon_view .WOFD_item{
	display:block;
	width:96px;
	height:96px;
	float:left;
	overflow:hidden;
	text-align: center;
}

#WOpenFileDialog-filecontainer.WOFD_icon_view .WOFD_item img.extra-small{
	display: none;
}
#WOpenFileDialog-filecontainer.WOFD_icon_view .WOFD_item img.large{
	margin-left: 24px;
	margin-top:6px;
	margin-bottom:6px;
	display:block;
}

#WOpenFileDialog-filecontainer.WOFD_icon_view .WOFD_item div{
	display: none;
}
/***
list view
****/
#WOpenFileDialog-filecontainer.WOFD_list_view .WOFD_item img.extra-small{
	float:left;
	width:16px;
	height:16px;
	margin-bottom:2px;
	margin-right:5px;
}
#WOpenFileDialog-filecontainer.WOFD_list_view .WOFD_item img.large{
	display: none;
}
#WOpenFileDialog-filecontainer.WOFD_list_view .WOFD_item{
	display:block;
	border-bottom: 1px solid #555753;
	overflow:hidden;
}
#WOpenFileDialog-filecontainer.WOFD_list_view .WOFD_item div
{
	float:left;
	width:25%;
	text-align:left;
}
#WOpenFileDialog-filecontainer.WOFD_list_view .WOFD_item h4{
	float:left;
	width:25%;
}











