.WPropertyEditor{
    border-width:0px;
    width:100%;
    font-size: 0.9em;
    text-align:left;
    empty-cells: show;
}
.WPropertyEditor td, .WPropertyEditor th{
    border-width:0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}
.WPropertyEditor, .WPropertyEditor td, .WPropertyEditor th{
    border-style: solid;
    border-spacing: 0px;
    border-color: #9fbc4a;
}
.WPropertyEditor th
{
    background: #9fbc4a url(../../../../ClientData/Images/header_background.png) 0% 0%;
    padding:2px;
    border-top-width: 1px;
    color:white;
}
.WPropertyEditor tr
{
	vertical-align: top;
}
.WPropertyEditor td
{
    background: #ffffff;
}
.WPropertyEditor th.WPE_mid, 
.WPropertyEditor td.WPE_mid
{
	width:0px;
}
.WPropertyEditor th.WPE_left, 
.WPropertyEditor td.WPE_left
{
	background: none;
	border-top-width: 0px;
	border-bottom-width:0px; 
	width: 22px;
}
.WPropertyEditor select 
{
	display: block;
	border-width: 0px;
	width:100%;
}
.WPropertyEditor th.WPE_property,
.WPropertyEditor td.WPE_property
{
	width:175px;
}
.WPropertyEditor p
{
	font-size: 11px;
}
.WPE_mv_down
{
	padding-top: 5px;
}
.WPropertyEditor tr.highgravity 
{
	vertical-align: bottom;
}