.View_UIElement_PropertyEditor{
    border-width:0px;
    width:100%;
    font-size: 0.9em;
    text-align:left;
    empty-cells: show;
}
.View_UIElement_PropertyEditor td, .View_UIElement_PropertyEditor th{
    border-width:0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}
.View_UIElement_PropertyEditor, .View_UIElement_PropertyEditor td, .View_UIElement_PropertyEditor th{
    border-style: solid;
    border-spacing: 0px;
    border-color: #9fbc4a;
}
.View_UIElement_PropertyEditor th
{
    background: #9fbc4a url(../System/ClientData/Images/header_background.png) 0% 0%;
    padding:2px;
    border-top-width: 1px;
    color:white;
}
.View_UIElement_PropertyEditor tr
{
	vertical-align: top;
}
.View_UIElement_PropertyEditor td
{
    background: #ffffff;
}
.View_UIElement_PropertyEditor th.WPE_mid, 
.View_UIElement_PropertyEditor td.WPE_mid
{
	width:0px;
}
.View_UIElement_PropertyEditor th.WPE_left, 
.View_UIElement_PropertyEditor td.WPE_left
{
	background: none;
	border-top-width: 0px;
	border-bottom-width:0px; 
	width: 22px;
}
.View_UIElement_PropertyEditor select 
{
	display: block;
	border-width: 0px;
	width:100%;
}
.View_UIElement_PropertyEditor th.WPE_property,
.View_UIElement_PropertyEditor td.WPE_property
{
	width:175px;
}
.View_UIElement_PropertyEditor p
{
	font-size: 11px;
}
.WPE_mv_down
{
	padding-top: 5px;
}
.View_UIElement_PropertyEditor tr.highgravity 
{
	vertical-align: bottom;
}