.View_UIElement_TextBox-wrapper
{
	border-width: 0px;
	border-spacing: 0px;
}
.View_UIElement_TextBox-wrapper td,
.View_UIElement_TextBox-wrapper th
{
	border-width: 0px;
}
.View_UIElement_TextBox-wrapper th
{
	background: #e7f8d7;
	font-weight: normal;
}
.View_UIElement_TextBox-wrapper
{
	width:1%;
}
.View_UIElement_TextBox-label
{
	font-size: 11px;
	padding: 0px;
	width:100px;
	display:block;
	float:left;
	color: #2e3436;
}
.View_UIElement_TextBox
{
	border: 1px solid #9fbc4a;
	width: 200px;
}