
#dialogues input[type=text].validField:focus{
	border:1px solid #9fbc4a;
	background-color: #c7f19d;
}
#dialogues input[type=text].invalidField{
	border: 1px solid #a40000;
	background-color: #f68585;
}

#navigationLayout div
{
	display:block;
}

#navigationLayout div div 
{
	margin-left:28px;
}
#navigationLayout input[type=text]
{
	border: 1px solid #555753;
	background: #fff;
	height:20px;
	width: 350px;
	margin:2px;	
}
#navigationLayout input[type=text]:focus
{
	border: 1px solid #f57900;
	background: #fff url(../../ClientData/Icons/16x16/actions/edit.png) 1px 50% no-repeat;
	padding-left: 20px;
	height:20px;
	width: 330px;
	margin:2px;	
}
.add_child, .add_sibling, .add_element
{
	display:block;
	width:24px;
	height:24px;
	float: left;
	margin-right:3px;
	border: 1px solid #888a85;
}
.add_child
{
	background: #d3d7cf url(../../ClientData/Icons/22x22/actions/add-child.png) 1px 1px no-repeat;
}
.add_sibling
{
	background: #d3d7cf url(../../ClientData/Icons/22x22/actions/add-sibling.png) 1px 1px no-repeat;
}
.navObject{
	background: #eeeeec;
	border: 1px solid #d3d7cf;
	clear:both;
	margin-top:1px;
	margin-bottom:1px;
}