#spores input[type=text]{
	height:16px;
	border-width: 1px;
	border-style: dashed;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	width:91%;
}

#spores input[type=text]:focus{
	border: 1px solid #f57900;
	background:white url(../../Icons/16x16/actions/edit.png) 1px 50% no-repeat;
	padding-left:18px;
	width:88%;
}
#spores input[type=text].validField:focus{
	border:1px solid #4e9a06;
	background-color: #c7f19d;
}
#spores input[type=text].invalidField{
	border: 1px solid #a40000;
	background-color: #f68585;
}
.removedSpore{
	text-decoration: line-through;
	font-style: italic;
}